/* Main */
:root {
    --mountain-meadow-green: #21C08B;
    --han-purple: #5e1dfc;
    --lavender-floral-purple: #AB88FF;
    --header-height: 80px;
    --header-logo-width: 200px;
}
body {
    background-color: var(--han-purple);
    height: 100vh;
    font-family: 'Mulish', sans-serif;
    margin: 0;
}
/* Header */
.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: var(--header-height);
    justify-content: space-between;
    padding: 0 30px;
}
.header__img {
    width: var(--header-logo-width);
}
.header__menu {
    position: relative;
    width: 90px;
}
.header__menu--profile {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 17px;
}
.header__menu--profile img {
    width: 40px;
}
.header__menu:hover .header__menu--list, header__menu--list:hover {
    display: block;
}
.header__menu--list {
    display: none;
    color: white;
    list-style: none;
    margin: 0 0 0 -10px;
    padding: 0;
    position: absolute;
    text-align: right;
    width: 100px;
}
.header__menu--list li:first-child {
    margin-top: 0;
}
.header__menu--list li{
    margin: 10px 0;
}
.header__menu--list li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.header__menu--list li a:hover{
    text-decoration: underline;
}

/* Search */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__title {
    color: #fff;
    font-size: 1.3rem;
}
.search {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 1.1rem;
    height: 40px;
    padding: 0 10px;
    width: 70%;
}
.search::placeholder {
    color: #fff;
}
.search:focus {
    outline: none;
}

/* Categories */
.categories__title {
    color: white;
    width: 100%;
    font-size: 16px;
    padding-left: 30px;
    position: absolute;
}

/* Carousel */
.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.carousel__container {
    white-space: nowrap;
    margin: 50px 0;
    padding-bottom: 10px;
}
.carousel-item {
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 250px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    transform-origin: center left;
    transition: 450ms all;
    width: 200px;
}
.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}
.carousel-item__img {
    height: 250px;
    width: 200px;
    object-fit: cover;
}
.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.carousel-item__details > div img {
    width: 30px;
    height: 30px;
}
.carousel-item__details p {
    font-size: 14px;
    color: white;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}
.carousel-item__details:hover {
    opacity: 1;
}